@using Microsoft.AspNetCore.Identity
@inject UserManager<AForum.Areas.Identity.Data.AForumUser> UserManager
@inject SignInManager<AForum.Areas.Identity.Data.AForumUser> SignInManager
@{
    if (SignInManager.IsSignedIn(User))
    {
        var user = UserManager.FindByNameAsync(User.Identity.Name);
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AForum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark  box-shadow mb-3 ">
            <div id="navbar" class="navbar-collapse collapse ">
                <div class="navbar-header Logo">
                    <a class="navbar-brand navLogo" asp-controller="Home" asp-action="Index"></a>
                </div>
                <ul class="nav navbar-nav container">

                    <li class="active"><a asp-controller="Forums" role="button" asp-action="Index">Forums</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Profile</li>
                                <li><a asp-controller="Profile" asp-action="Detail" asp-route-id="@UserManager.GetUserId(User)">My Profile</a></li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Admin</li>
                                    <li><a asp-controller="Forum" asp-action="Create">Create Forum</a></li>
                                    <li><a asp-controller="Profile" asp-action="Index">Users</a></li>
                                }
                            </ul>
                        </li>
                    }
                </ul>

            </div><!--/.nav-collapse -->
            <div class="nav-item" style="float:left">
                @{
                    Html.RenderPartial("_LoginPartial");
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-muted">
        <div class="container">
            &copy; 2020 - AForum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
